:root {

  --color-bg-light: #f5faff;
  --color-text-light: #1a1a1a;


  --color-bg-dark: #1c1c1c;
  --color-text-dark: #f1f1f1;


  --color-primary: #14532d;
  --color-accent: #0f3e21;
}

.bg-light {
  background-color: var(--color-bg-light);
}


.text-light {
  color: var(--color-text-light);
}


.bg-dark {
  background-color: var(--color-bg-dark);
}


.text-dark {
  color: var(--color-text-dark);
}

.bg-primaryy {
  background-color: var(--color-primary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-bg-light {
  background-color: var(--color-bg-light);
}

.text-text-light {
  color: var(--color-text-light);
}

.bg-bg-dark {
  background-color: var(--color-bg-dark);
}

.text-text-dark {
  color: var(--color-text-dark);
}


.border-primary {
  border-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.hover\:bg-accent:hover {
  background-color: var(--color-accent);
}
