{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-theme="emerald">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Planilha Principal</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <script>
      const savedTheme = localStorage.getItem('theme') || 'emerald';
      document.documentElement.setAttribute('data-theme', savedTheme);
    </script>
  </head>

  <body>
    <div class="flex h-screen">

      <!-- Sidebar -->
      <div id="sidebar"
           class="group flex flex-col items-center bg-neutral text-white transition-all duration-300 ease-in-out w-16 hover:w-48 overflow-hidden">

        <div class="p-4 w-full flex justify-center transition-colors duration-300 group-hover:bg-white rounded-b-md shadow-md">
          <img src="{% static 'images/Simoldes-Acos-Brasil.png' %}" alt="Logo" class="h-38 w-auto transition-opacity duration-300 opacity-0 group-hover:opacity-100" />
        </div>
        <a href="/" class="p-4 hover:bg-primary-focus transition w-full text-left flex items-center">
          <i class="fas fa-table text-lg"></i>
          <span class="ml-3 opacity-0 group-hover:opacity-100 transition-opacity duration-300">Home</span>
        </a>
        <a href="/Checklist" class="p-4 hover:bg-primary-focus transition w-full text-left flex items-center">
          <i class="fas fa-check-square text-lg"></i>
          <span class="ml-3 opacity-0 group-hover:opacity-100 transition-opacity duration-300">CheckList</span>
        </a>

        <label class="swap swap-rotate mt-auto mb-4 p-4 w-half text-left">
          <input type="checkbox" class="theme-controller" id="theme-switcher" value="dim" />
          <i class="fas fa-sun swap-off"></i>
          <i class="fas fa-moon swap-on"></i>
        </label>
      </div>

      <!-- Conteúdo -->
      <main id="main-content" class="flex-1 p-6 overflow-y-auto">
        {% block content %}
        {% endblock %}
      </main>
    </div>

    <script>
      const themeSwitcher = document.getElementById('theme-switcher');
      themeSwitcher.checked = savedTheme === 'forest';

      themeSwitcher.addEventListener('change', (event) => {
        const newTheme = event.target.checked ? 'forest' : 'emerald';
        document.documentElement.setAttribute('data-theme', newTheme);
        localStorage.setItem('theme', newTheme);
      });
    </script>
  </body>
</html>
