{% extends "home.html" %}


{% block content %}

<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
    <form method="POST" enctype="multipart/form-data" style="display: flex; align-items: center; width: 100%;">
        {% csrf_token %}
        <label for="formFileUpload" style="margin-right: 10px; padding-bottom: 10px;">Arquivo Excel</label>
        <div style="margin: 25px;">
            {{form.as_p}}
        </div>
        <button type="submit" name="acao" value="excel" class="btn btn-primary" style="margin-left: 2px;">Submit</button>
    </form>
</div>

<div class='erro'>
   <span> {{erro}} </span>
</div>


<div class="container">
    <h2>Planilha Principal</h2>
    <div class="search-filter">
      <input type="text" id="searchInput" placeholder="Pesquisar..." name="q"/>
      <select id="columnFilter" name="f">
        <option >MOLDES EM PROGESSO</option>
      </select>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" name="acao" value="Proxima">
      </form>
    </div>

    {% if ExcelDados %}
    <table id="excelTable">
        <thead>
            <tr>
                {% for coluna in ExcelDados.0.keys %}
                    <th>{{ coluna }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for linha in ExcelDados %}
                <tr>
                    {% for valor in linha.values %}
                        <td>{{ valor }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


{% endblock %}