{% extends "home.html" %}
{% load static %}
{% block content %}
<div class="mt-2 relative">

    <h2 class="text-2xl font-bold text-base-content">Planilha Principal</h2>

    <!-- Formulário de busca -->
    <form method="GET" class="mt-6 flex flex-wrap gap-4 items-center">
        <div class="form-control w-72">
            <div class="relative">
                <input type="text" name="q" placeholder="Pesquisar..." value="{{ q|default_if_none:'' }}" autocomplete="off" class="input input-bordered w-full pr-10" />
                {% if q %}
                <a href="{% url 'home' %}?aba={{ aba_selecionada }}" title="Limpar busca"
                   class="absolute top-1/2 right-3 transform -translate-y-1/2 text-gray-400 hover:text-red-500">✕</a>
                {% endif %}
            </div>
        </div>

        <select name="aba" onchange="this.form.submit()" class="select select-bordered w-60">
            {% for nome_aba in abas %}
            <option value="{{ nome_aba }}"
                {% if nome_aba == aba_selecionada %}selected{% endif %}
                {% if nome_aba in abas_sem_resultado %}class="bg-red-100 text-gray-400"{% endif %}>
                {{ nome_aba }}
                {% if nome_aba in abas_sem_resultado %} - 0 Resultados{% endif %}
            </option>
            {% endfor %}
        </select>

        <select name="departamento" onchange="this.form.submit()" class="select select-bordered w-60">
            <option value="">Todos os Departamentos</option>
            {% for dep in departamentos %}
                <option value="{{ dep }}" {% if departamento == dep %}selected{% endif %}>
                    {{ dep }}
                </option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-outline btn-primary text-left">
            <i class="fa-solid fa-magnifying-glass"></i>Pesquisar
        </button>
    </form>

    <!-- Tabela -->
    <div id="resultado-tabela" class="mt-8 overflow-auto h-dvh max-h-[65vh] shadow-lg rounded-xl bg-base-200">
        {% if ExcelDados %}
        <!-- Paginação Topo -->
        <div class="flex justify-center mt-4">
            {% if ExcelDados.has_previous %}
            <a href="?page=1{% if aba_selecionada %}&aba={{ aba_selecionada }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="btn btn-sm mx-1">Primeira</a>
            <a href="?page={{ ExcelDados.previous_page_number }}{% if aba_selecionada %}&aba={{ aba_selecionada }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="btn btn-sm mx-1">Anterior</a>
            {% endif %}

            <span class="btn btn-sm mx-1 btn-success">
                Página {{ ExcelDados.number }} de {{ ExcelDados.paginator.num_pages }}
            </span>

            {% if ExcelDados.has_next %}
            <a href="?page={{ ExcelDados.next_page_number }}{% if aba_selecionada %}&aba={{ aba_selecionada }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="btn btn-sm mx-1">Próxima</a>
            <a href="?page={{ ExcelDados.paginator.num_pages }}{% if aba_selecionada %}&aba={{ aba_selecionada }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="btn btn-sm mx-1">Última</a>
            {% endif %}
        </div>

        <!-- TABELA -->
        <form method="post" id="checkbox-form">
            {% csrf_token %}
            <input type="hidden" name="acao" value="salvar_checkboxes">
            <input type="hidden" name="aba" value="{{ aba_selecionada }}">

            <table class="table w-full text-sm whitespace-normal mt-4 text-left">
                <thead class="bg-base-300 text-base-content sticky top-0 z-10 shadow-md border-b border-base-content/20">
                    <tr>
                        {% for coluna in ExcelDados.0.keys %}
                            <th class="px-4 py-3 font-semibold">{{ coluna }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                    <tbody class="divide-y divide-base-200">
                        {% for linha in ExcelDados %}
                            <tr class="{% cycle 'even:bg-base-100' 'odd:bg-base-200' %} hover:bg-primary/30 transition-colors duration-150">
                                {% for coluna, valor in linha.items %}
                                    {% if not colunas_visiveis or coluna in colunas_visiveis %}
                                        <td class="px-4 py-3 align-middle max-w-xs break-words">
                                            <label class="flex items-center gap-2">
                                                {% if aba_selecionada|slice:":1" == "M" and aba_selecionada != "MOLDES EM PROGRESSO" %}
                                                    {% if coluna in colunas_checkbox_m %}
                                                        <input type="checkbox"
                                                            class="checkbox checkbox-md border-2 border-orange-500 bg-transparent checked:border-orange-500 checked:bg-orange-500 checked:text-white hover:border-orange-400"
                                                            name="checkbox"
                                                            data-linha="{{ forloop.parentloop.counter0 }}"
                                                            data-coluna="{{ coluna }}"
                                                            value="{{ forloop.parentloop.counter0 }}__{{ coluna }}"
                                                            {% if forloop.parentloop.counter0|stringformat:"d"|add:"__"|add:coluna in saved_checkboxes %}
                                                                checked
                                                            {% endif %}
                                                        >
                                                    {% endif %}
                                                {% elif aba_selecionada|slice:":5" == "DADOS" %}
                                                    {% if coluna in colunas_checkbox_d %}
                                                        <input type="checkbox"
                                                            class="checkbox checkbox-md border-2 border-orange-500 bg-transparent checked:border-orange-500 checked:bg-orange-500 checked:text-white hover:border-orange-400"
                                                            name="checkbox"
                                                            data-linha="{{ forloop.parentloop.counter0 }}"
                                                            data-coluna="{{ coluna }}"
                                                            value="{{ forloop.parentloop.counter0 }}__{{ coluna }}"
                                                            {% if forloop.parentloop.counter0|stringformat:"d"|add:"__"|add:coluna in saved_checkboxes %}
                                                                checked
                                                            {% endif %}
                                                        >
                                                    {% endif %}
                                                {% endif %}
                                                <span>{{ valor }}</span>
                                            </label>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </form>


        <!-- Paginação Base -->
        <div class="flex justify-center mt-4">
            {% if ExcelDados.has_previous %}
            <a href="?page=1{% if aba_selecionada %}&aba={{ aba_selecionada }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="btn btn-sm mx-1">Primeira</a>
            <a href="?page={{ ExcelDados.previous_page_number }}{% if aba_selecionada %}&aba={{ aba_selecionada }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="btn btn-sm mx-1">Anterior</a>
            {% endif %}

            <span class="btn btn-sm mx-1 btn-success">
                Página {{ ExcelDados.number }} de {{ ExcelDados.paginator.num_pages }}
            </span>

            {% if ExcelDados.has_next %}
            <a href="?page={{ ExcelDados.next_page_number }}{% if aba_selecionada %}&aba={{ aba_selecionada }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="btn btn-sm mx-1">Próxima</a>
            <a href="?page={{ ExcelDados.paginator.num_pages }}{% if aba_selecionada %}&aba={{ aba_selecionada }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="btn btn-sm mx-1">Última</a>
            {% endif %}
        </div>


        {% else %}
        <div class="mt-6">
            <div class="alert alert-info">
                <span>{{erro}}</span>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="mt-10 border-t pt-4 text-center">
        <h2 class="text-xl font-semibold mb-4 text-base-content">Ações com Excel</h2>

        <div class="flex flex-col sm:flex-row justify-center items-center gap-2">
            <!-- Botão de download do modelo -->
            <a href="{% static 'templates/TemplateMoldes.xlsx' %}" download
            class="inline-flex items-center px-5 py-3 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition">
                <i class="fas fa-download mr-2"></i>
                Baixar Modelo XLSX
            </a>

            <!-- Botão de exportar dados -->
            <a href="{% url 'exportar_excel' %}"
            class="inline-flex items-center px-5 py-3 bg-green-600 text-white rounded-lg shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 transition">
                <i class="fas fa-file-excel mr-2"></i>
                Exportar Dados para Excel
            </a>

            <!-- Botão de importar planilha -->
            <form method="post" enctype="multipart/form-data" action="{% url 'importar_planilha' %}">
                {% csrf_token %}
                <label class="inline-flex items-center px-5 py-3 bg-yellow-600 text-white rounded-lg shadow hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition cursor-pointer">
                    <i class="fas fa-upload mr-2"></i>
                    Importar Planilha
                    <input type="file" name="planilha" accept=".xlsx,.xlsm" hidden onchange="this.form.submit()">
                </label>
            </form>
        </div>
    </div>

    <!-- Upload de Excel
    <div class="flex justify-center mt-10">
        <form method="POST" enctype="multipart/form-data" class="bg-base-100 shadow-lg rounded-xl p-6 space-y-4 w-full max-w-md">
            {% csrf_token %}
            <label for="formFileUpload" class="text-lg font-bold text-base-content">Upload de Arquivo Excel</label>
            <div class="space-y-4">
                {{ form.as_p }}
            </div>
            <button type="submit" name="acao" value="excel" class="btn btn-primary w-full">
                Enviar Excel
            </button>
        </form>
    </div>
    -->
</div>



<script>
document.querySelectorAll('input[type="checkbox"][name="checkbox"]').forEach(cb => {
    cb.addEventListener('change', () => {
        const linha = cb.dataset.linha;
        const coluna = cb.dataset.coluna;
        const aba = "{{ aba_selecionada }}";
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        fetch("", {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: new URLSearchParams({
                acao: "salvar_checkboxes",
                aba: aba,
                checkbox: `${linha}__${coluna}`
            })
        }).then(res => {
            if (!res.ok) console.error("Erro ao salvar checkbox");
        }).catch(err => {
            console.error("Falha ao enviar checkbox:", err);
        });
    });
});
</script>


{% endblock %}
